---
title: "Tutor Contribution"
permalink: /talks-tutor/
author_profile: true
---

{% include base_path %}

<link rel="stylesheet" href="assets/css/main-2.css" />
<!-- <link rel="stylesheet" href="team/assets/bootstrap.min.css"> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

  {% include header.html %}
    <div class="container-full">
      <div class="container grid-xl">
        <div class="columns negative-m-s">
          <div class="column col-12 text-center">
            <h2 class="text-secondary">Notre Communauté</h2>
       		<br/><br/><br/>
<!-------------------------------------------------------------------------------------------------------->

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">

<!-------------- Team member -------------------------->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="team/0.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="font-size:18px">Armel Soubeiga</h4>
                                    <p class="card-text" style="font-size:16px">Data Scienctist- ML/MLOps engineer</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title" style="font-size:18px">Armel Soubeiga</h4>
					<br/><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/armelsoubeiga">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/armel-soubeiga/">
                                                <i class="fa  fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-------------- /Team member -------------------------->
<!-------------- Team member -------------------------->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="team/1.jpg" alt="card image"></p>
                                    <h4 class="card-title" style="font-size:18px">Blaise Sandwidi, PhD</h4>
                                    <p class="card-text" style="font-size:16px">Data Scienctist - CEO AfricAnalytics - USA</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="font-size:18px">Blaise Sandwidi, PhD</h4>
					<br/><br/>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/bsandwidi">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa  fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-------------- /Team member -------------------------->

        </div>
    </div>
</section>
<!-- Team -->
	
<!-- ---------------------------------------------------------------------------------------------------------------------------	   -->
 	<br/><br/>
       </div>
      </div>
    </div>
  </div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
