{% assign content_to_process = "" %}
{% if include.post %}
  {% assign content_to_process = include.post.content %}
{% elsif post.content %}
  {% assign content_to_process = post.content %}
{% elsif page.content %}
  {% assign content_to_process = page.content %}
{% endif %}

{% if content_to_process == "" %}
  {{ site.data.ui-text[site.locale].undefined_content | default: "Content not available for reading time calculation." }}
{% else %}
  {% assign words = content_to_process | strip_html | number_of_words %}

  {% if site.words_per_minute %}
    {% if words < 180 %}
      {{ site.data.ui-text[site.locale].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "min read" }}
    {% elsif words < 360 %}
      1 {{ site.data.ui-text[site.locale].minute_read | default: "min read" }}
    {% else %}
      {{ words | divided_by:site.words_per_minute | ceil }} {{ site.data.ui-text[site.locale].minute_read | default: "min read" }}
    {% endif %}
  {% else %}
    {{ site.data.ui-text[site.locale].undefined_wpm | default: "Undefined parameter words_per_minute at _config.yml" }}
  {% endif %}
{% endif %}