/* Styles supplémentaires pour corriger l'alignement des cartes */

/* Force tous les contenus dans .archive à respecter la largeur correcte */
.archive {
  float: right;
  width: auto;
  overflow: visible !important;
  margin-bottom: 0;
}

/* Style pour le titre de la page */
.archive .page__title {
  margin-top: 0;
  margin-bottom: 0.8em;
}

/* Correction pour les petits écrans */
/* @media (max-width: 767px) {
  .archive {
    float: none;
    width: 100%;
  }
} */

/* Correction pour les écrans moyens et grands */
@media (min-width: 768px) {
/*   .sidebar {
    float: left;
  }    */ 
  .archive {
    float: right;
    max-width: calc(100% - 200px); /* Réduit l'espace entre sidebar et contenu principal */
    padding-left: 10px; /* Réduit également le padding gauche */
    margin-top: 10px; 
    transition: margin 0.3s ease; 
  }
  
  .archive__subtitle {
    clear: both;
  }
  
  .year-posts {
    clear: both;
  }
}

/* Correction pour les très grands écrans */
@media (min-width: 1200px) {
  .archive {
    max-width: calc(100% - 220px); /* Réduit l'espace pour les grands écrans */
  }
}
